asgiref==3.8.1
backports.zoneinfo==0.2.1
diff-match-patch==20241021
django==4.2.30
django-import-export==4.1.1
psycopg2-binary==2.9.10
python-dotenv==1.0.1
sqlparse==0.5.5
tablib==3.5.0
typing-extensions==4.13.2
whitenoise==6.7.0
