{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo Web con Django</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

<header class="header">
    <div class="contenedor">
        <h1 class="logo">Django</h1>

        <nav class="menu">
            <a href="{% url 'principal' %}">Principal</a>
            <a href="{% url 'datos' %}">Datos</a>
            <a href="#herramientas">Herramientas</a>
        </nav>
    </div>
</header>

<main>

<section id="principal" class="hero">
	<p>Aprende a construir aplicaciones web modernas utilizando
	Python, Django y buenas prácticas de desarrollo.</p>
    {% block contenido %}{% endblock contenido %}
</section>


</main>

<footer class="footer">
    <div class="contenedor">
        <p>Desarrollo Web con Django · HTML5 + CSS</p>
    </div>
</footer>

</body>
</html>